.footerclor {
  background-color: burlywood;
  border-radius:0%;
  height: 60px;
  width: 100%;
  padding:10px;
}
.heading{
  border:0px;
  height: 40px;
  width: 100%;
}
.navigate{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float:top;
}
